/* 底部导航栏 ↓*/

.foot_nav {
    margin: auto;
    border-top: 1px solid #e6e6e6;
    width: 1220px;  
    position: relative;
    height: 105px;
    margin-top: -105px;
    text-align: center;
}

.foot_nav>.bottom_menu {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.foot_nav>.bottom_menu>a {
    color: #555;
}

.foot_nav>.bottom_menu>i {
    color: #e7e7e7;
}

.foot_nav>.copyright {
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-top: 15px;
}