html, body, .container { height:100%; }
body {
    font-family: "STHeiti Light", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background: url(/assets/src/img/logo/bg_web.jpg) repeat;
}
.container{
    width: 1250px;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
    _height: 100%;
    margin-top: -40px;
    background: #fff;
}
input[type="text"]{
  border-radius:0;
  vertical-align:baseline;
}
/*侧边栏 ↓*/
.sidebar{
  position: fixed;
  z-index: 1998;
  right: 5px;
  overflow: visible;
  width: 51px;
  top: 190px;
  background-color: #fff;
}
.sidebar>.kefu{
  border: 1px solid #e6e6e6;
  border-bottom: none;
}
.sidebar>.kefu>a{
  color: #EF4949;
  display: inline-block;
  width: 100%;
  margin:0 auto;
  padding: 5px 0;
  text-align: center;
}
.customQQ{
  position: absolute;
  top: 0px;
  right: 51px;
  display: none;
  width: 138px;
  padding-bottom: 10px;
  cursor: default;
  text-align: center;
  border: 1px solid #e6e6e6;
  background: url(/assets/src/img/logo/customBg.png) top left no-repeat #fff;
}
.customQQ>.cover {
  position: absolute;
  right: -3px;
  width: 3px;
  height: 62px;
  background-color: #fff;
}
.customQQ>.close {
  z-index: 999;
  float: left;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url(/assets/src/img/logo/clear.png) -2px -2px no-repeat #fff;
}
.customQQ>.time {
  font: normal 12px 'Microsoft YaHei';
  margin-top: 50px;
  color: #999;
}
.customQQ>.tt {
  font: bold 14px 'Microsoft YaHei';
  margin-top: 8px;
  color: #666;
}
.customQQ .QQ {
  width: 92px;
  height: 22px;
  display: block;
  margin: 8px auto 0;
  background: url(/assets/src/img/logo/qq.jpg) no-repeat;
}
.customQQ .tel {
  font: bold 14px 'Microsoft YaHei';
  color: #ce3200;
}
.customQQ .t, .customQQ a {
  font: normal 14px 'Microsoft YaHei';
  color: #547816;
}
.sidebar>.kefu i,.sidebar>.phone i,.sidebar>.at_night i,.sidebar>.new_news i,.sidebar>.scroll_top i{
  font-size: 32px!important;
}
.sidebar>.wide_screen,.sidebar>.new_news{
  border: 1px solid #e6e6e6;
  border-bottom: none;
}
.sidebar>.phone{
  border: 1px solid #e6e6e6;
}
.sidebar>.at_night{
  border: 1px solid #e6e6e6;
}
.sidebar>.phone>a,.sidebar>.wide_screen>a,.sidebar>.at_night>a,.sidebar>.new_news>a,.sidebar>.kefu>a,.sidebar>.scroll_top>a{
  color: #666;
  display: inline-block;
  width: 100%;
  margin:0 auto;
  padding: 5px 0;
  text-align: center;
}
.sidebar>.phone>.erweima {
  display: none;
  position: absolute;
  bottom: 0;
  right: 51px;
  width: 110px;
  padding: 8px;
  cursor: default;
  text-align: center;
  background-color: #fff;
  font-size: 12px;
  color: #d9ffff;
}
.sidebar>.phone:hover>.erweima {
  display: block;
}
.sidebar>.phone>.erweima>p {
  width: 110px;
  height: 110px;
}

.sidebar>.wide_screen i{
  font-size: 20px;
}
.sidebar>.scroll_top{
  border: 1px solid #e6e6e6;
  border-top: none;
}
/*分页start*/
.page{
	margin: 20px 15px;
    margin-top: 0;
    font: 14px/30px 'Microsoft YaHei';
    overflow: auto;
}
.page span{
	float: left;
}
.page a{
	color: #333;
}
.page .pre a,
.page .next a,
.page .spot{
	display: block;
	text-align: center;
	padding: 0 5px;
	cursor:pointer;
	color:#333;
	border:1px solid #E0E0E0;
}
.page .pre{
	margin-right: 5px;
}
.page .next{
	margin-left: 5px;
}
.page .turn{
	margin: 0 10px;
	color: #999;
}
.page .turn input{
	display: inline-block;
}
.page .turn input[type='text']{
	width: 30px;
	height: 25px;
	padding-left: 5px;
	margin: 0 5px;
	border: 1px solid #EFEFEF;
}
.page .turn input[type='button']{
	margin-left: 5px;
	height: 28px;
	line-height: 25px;
	border: 1px solid #EFEFEF;
	padding: 0 5px;
	background-color: #FFF;
	cursor: pointer;
}
.pageList{
	float: left;
}
.pageList li{
	float: left;
}
.pageList a{
	width: 35px;
	border: 1px solid #E0E0E0;
	margin-left: -1px;
	float: left;
	cursor:pointer;
	color:#333;
	text-align: center;
}
.page .turn input[type='button']:hover,
.page .pre:hover a,
.page .next:hover a,
.pageList a:hover,
.pageList .active a{
	color:#ffffff;
	background-color:#FF4500;
	border:1px solid #FF4500;
}
/*分页end*/

.hidden{
  display: none;
  height: 0;
}